//

$fg-def: #EAE7B1;
$bg-def: #3C6255; 
$bd-def: #A6BB8D;

* { 
    margin: 0;
    padding: 0;
    color: $fg-def; 
}



window {
    font-size: 12px;
    font-family: Inconsolata Nerd Font Mono; 
    // font-family: Gohu GohuFont;
    // border: 3px solid skyblue;
    background-color: transparent;
}

.bar_part {
    margin: 5px 5px;
    background-color: rgba($bg-def, 0.4);
}
.bar_part > * {
    border: 3px solid $bd-def;
    // border-radius: 8px;
    // border-width: 0;
    // padding: 2px 5px;
}

.top-bar.h,
.middle-bar.h,
.bottom-bar.h{
}

.middle-bar.h {

}
.top-bar.v{
    //	margin-top: 10px;
}

.middle-bar.v{
    //	margin: 1px 1px;

}

.bottom-bar.v{
}
//	margin-bottom: 10px;

.ram.h {
    // font-family: Liberation Serif;
    font-style: Italic;
    font-size: 1.0em;
    padding: 0px 5px;
}

.ram.h label {
    color: lightpink;    
}

.ram.v {
    font-style: italic;
    margin-bottom: 5px;
    font-weight: bold;
}

.time.h {
    font-size: 1.2em;
    font-family: Gohu GohuFont;
    font-weight: bold;
    font-style: normal;
    padding: 0 0.3rem;
}

.time.h label {
    color: darksalmon;
}

.time.v {
    padding: 8px 0px; 
    font-size: 1.3em;
    background-color: #658864;
    border-radius: 8px;
}


.workspace-entry  {
    font-size: 1.2em;
    padding: 0px 0.3rem;
}

.workspace-entry label {
    // color: lightblue;
}

.workspace-entry.current{
    font-size: 1.3em;
    background-color: #658864;
}

.battery.h {
    font-family: Gohu GohuFont;
    font-size: 1.3em;
    font-weight: bolder;
    background-color: darkslategrey;
    padding: 0px 5px;
}

.battery.h label {
    color: darksalmon;
}

.battery.h tooltip {
    border: 2px solid green;
}

