
* { 
    all: unset;
    color: #DDDDDD;
    font-family: Inconsolata Nerd Font Mono 
}

window {
    margin: 1px 1px;
    border: 0px solid skyblue;
    & > * {
        margin: 0px;
        padding: 0px;
    }
    font-size: 12px;
}

.bar_part {
}

.top-bar.h{
//    background: 9% 92%  no-repeat url("assets/glass.png") ;
    padding: 2px 5px;
    border-radius: 8px;
    border: 3px double #b3ffae;
}

.middle-bar.h{
    padding: 2px 5px;
    border-radius: 8px;
//    background: 9% 92%  no-repeat url("assets/glass.png") ;
    border: 3px double #b3ffae;

}

.bottom-bar.h{
//    background: 9% 92%  no-repeat url("assets/glass.png") ;
    border-radius: 8px;
    padding: 2px 5px;
    border: 3px double #b3ffae;
}

.top-bar.v{
    //	margin-top: 10px;
}

.middle-bar.v{
    //	margin: 1px 1px;

}

.bottom-bar.v{
}
//	margin-bottom: 10px;

.ram.h {
    font-size: .9rem;
    font-style: italic;
    padding: 0px 5px;
}

.ram.h label {
    color: lightpink;    
}

.ram.v {
    font-style: italic;
    margin-bottom: 5px;
    font-weight: bold;
}

.time.h {
    padding: 0px 4px; 
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    border-radius: 8px;
}

.time.h label {
    color: lightgreen;
}

.time.v {
    padding: 8px 0px; 
    font-size: 1.3rem;
    background-color: #658864;
    border-radius: 8px;
}


.workspace-entry  {
    font-size: 1.3rem;
    padding: 0px 4px;
}

.workspace-entry label {
    color: lightblue;
}

.workspace-entry.current{
    font-size: 1.5rem;
    background-color: #658864;
    border-radius: 8px;
}

.icon_tray.h > image {
//    margin: 2px 2px;
//    border: 2px solid teal;
    border-radius: 0px;
}

.battery.h {
    font-size: 1.3rem;
    background: teal;
    border-radius: 8px;
    padding: 0px 5px;
}

.battery.h label {
    color: lightgreen;
}


