* { 
	all: unset;
	color: #DDDDDD;
	font-family:  Iosevka Nerd Font;
}

window {
	background-color: #3a3a3a;
	font-size: 15px;
	border: 1px solid #ABC270;
	border-radius: 12px;
	& > * {
		margin: 4px;
	}
}

.bar_part {
}

.top-bar {
	margin-top: 10px;
}

.middle-bar {
	margin: 10px 1px;

}

.bottom-bar {
	margin-bottom: 10px;
}

.greet {
	font-style: Italic;
	background-repeat: no-repeat;
	background-size: contain;
}

.ram {
	font-style: Italic;
}

.time {
	padding: 8px 0px; 
	font-size: 1.3rem;
	background-color: #658864;
	border: 0px solid #658864;
	border-radius: 8px;
}

.workspace-entry  {
	font-size: 1.3rem;
}

.workspace-entry.current{
	font-size: 1.6rem;
	background-color: #658864;
	border: 0px solid #658864;
	border-radius: 8px;
	

}
